<!-- ======= About SKY Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 pt-4 pt-lg-0">
        <h3>Token SKY</h3>
        <p>
          El Token se encuentra <a href="assets-landing/files/Audit_skylightgames.pdf" target="_blank">Auditado</a>
          y posee la liquidez bloqueada por 8 a침os
          (<a href="https://app.uncx.network/amm/pancake-v2/pair/0xBf22a65BeAe236Dc6a7e833a2Bb7f6eD2B702791"
            target="_blank">BUSD/SKY</a>
          <a href="https://app.uncx.network/amm/pancake-v2/pair/0x0b07F85948D02300F816936abcdbe6ccAa7D5CF2"
            target="_blank">BNB/SKY</a>).
        </p>
        <p>Tiene un 3% de Auto Liquidez lo que aumenta el respaldo con cada compra y cada venta.</p>
        <p>Premia a los Holders en cada compra y cada venta con un 1%, lo que permite acumular en el tiempo.</p>
        <p>Tiene una Comunidad creciente y un CEO que da la cara.</p>
        <p>Cuenta con un Proyecto de juegos NFT, una Red Social y muchas cosas m치s que le dar치n utilidad.</p>
        <div class="text-center">
          <a href="https://skylightgame.gitbook.io/es/economia/tokenomic/" class="btn btn-outline-primary scrollto my-2"
            target="_blank">M치s</a>
        </div>
      </div>

      <div class="col-lg-8 frame">
        <iframe id="dextools-widget" title="DEXTools Trading Chart" width="100%" height="450"
          src="https://www.dextools.io/widgets/es/bnb/pe-light/0x0b07f85948d02300f816936abcdbe6ccaa7d5cf2?theme=dark&chartType=3&chartResolution=60&drawingToolbars=false">
        </iframe>
      </div>
    </div>

  </div>
</section><!-- End About SKY Section -->