<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>SkyAir</h3>
        <p>
          SkyAir es un juego de combate aéreo NFT situado en la Segunda Guerra Mundial, donde los jugadores pueden ganar
          tokens Sky al derribar enemigos en intensas batallas en el océano Pacífico. Los elementos virtuales únicos del
          juego, como aviones caza y armamento, pueden ser poseídos y comercializados en el mercado NFT.
        </p>
        <div class="row text-center justify-content-md-center">
          <!-- <div class="col-md-6"> -->
            <!-- <i class="bx bx-receipt"></i> -->
            <!-- <h4>Consulte Whitepaper</h4> -->
            <!-- <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p> -->
            <!-- <a href="https://skylightgame.gitbook.io/es/juegos/skyfast/" class="btn btn-outline-primary scrollto my-2"
              target="_blank">Más</a> -->
          <!-- </div> -->
          <div class="col-md-6">
            <i class="bx bx-cube-alt"></i>
            <h4>Demo para Android</h4>
            <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p> -->
            <a href="/resources/SkyAirAWS.apk" class="btn btn-outline-primary scrollto my-2"
              target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- <img src="/assets-landing/img/projects/project-11.jpg" class="img-fluid" alt=""> -->
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=-jvBnNeE1uU" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ISX13aLSg_Q" frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</section><!-- End About Section -->