<!-- ======= Games Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">

    <div class="section-title">
      <h2>Juegos</h2>
      <p>Una colección de juegos con un mismo Token.</p>
    </div>

    <div class="owl-carousel testimonials-carousel">

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          SkyAir es un juego de combate aéreo situado en el contexto de la Segunda Guerra Mundial. Enfréntate a los
          mejores pilotos y aviones de caza de la época en intensas batallas todos contra todos en el océano Pacífico.
          Elige tu propio avión caza histórico de la Segunda Guerra Mundial y equipalo con el armamento adecuado para
          derrotar a tus enemigos. Cuanto más enemigos derribes antes de ser derribado tú mismo, mayores serán tus
          recompensas en el token Sky del juego.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets-landing/img/projects/project-01-256.jpg" class="testimonial-img" alt="">
        <h3>Sky Air</h3>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          SkyChess es un juego de ajedrez en el que podrás ganar tokens Sky utilizando tu habilidad en el juego de
          estrategia más antiguo del mundo. Podrás comprar y vender tableros y piezas de ajedrez mejoradas para
          maximizar tus ganancias. Cuanto mejores sean tu tablero y piezas, mayores serán tus probabilidades de victoria
          y tus recompensas en SkyChess.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets-landing/img/projects/project-02-256.jpg" class="testimonial-img" alt="">
        <h3>Sky Chess</h3>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          SkyFast es un juego de carreras de autos basado en la tecnología blockchain y los tokens no fungibles (NFT).
          En este juego, los jugadores pueden coleccionar y personalizar sus autos de carreras únicos, y competir en
          emocionantes carreras en todo el mundo.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets-landing/img/projects/project-03-256.jpg" class="testimonial-img" alt="">
        <h3>Sky Fast</h3>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          SkyWarship es un juego de barcos de guerra NFT en el que podrás ganar criptomonedas utilizando tu habilidad
          naval y comercial. Podrás ensamblar tu flota de barcos de guerra NFT a tu gusto para maximizar sus
          características de ataque, defensa y velocidad, y así vencer a tus adversarios en emocionantes batallas
          navales. Cuanto más poderosa sea tu flota, mayores serán tus probabilidades de victoria y tus recompensas en
          SkyWarship.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets-landing/img/projects/project-04-256.jpg" class="testimonial-img" alt="">
        <h3>Sky War Ship</h3>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Skybot es un juego de estrategia en tiempo real en el que podrás ganar criptomonedas utilizando tu
          inteligencia y habilidad comercial. Podrás ensamblar tus NFTs, conocidos como Steel Rain, a tu gusto para
          maximizar sus características de ataque, defensa y velocidad con el fin de vencer a tus adversarios.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img src="assets-landing/img/projects/project-05-256.jpg" class="testimonial-img" alt="">
        <h3>Sky Bot</h3>
      </div>

    </div>

  </div>
</section>
<!-- End Games Section -->