<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Sky Light Game</h3>
          <p>
            SkyLight! Donde la diversión nunca termina. Disfruta de nuestros increíbles juegos y atracciones que harán
            que tus días sean más emocionantes. ¡Únete a la diversión hoy mismo!
            <br><br>
            <strong>Phone: </strong>+53 5-316-9449<br>
            <strong>Email: </strong>support@skylightgame.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://coinbrain.com/coins/bnb-0xfe9549bb13bf62db64860edbcdbebc094d78e3f5" target="_blank">CoinBrain</a></li> -->
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://charts.bogged.finance/?c=bsc&t=0xfE9549bb13Bf62dB64860eDbcdBEbC094D78e3F5" target="_blank">Bogged</a></li> -->
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://poocoin.app/tokens/0xfe9549bb13bf62db64860edbcdbebc094d78e3f5" target="_blank">PooCoin</a></li> -->
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://pancakeswap.finance/" target="_blank">PancakeSwap</a></li> -->
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://app.unicrypt.network/amm/pancake-v2/pair/0xBf22a65BeAe236Dc6a7e833a2Bb7f6eD2B702791" target="_blank">Locked LP BUSD/SKY</a></li> -->
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="https://app.unicrypt.network/amm/pancake-v2/pair/0x0b07F85948D02300F816936abcdbe6ccAa7D5CF2" target="_blank">Locked LP WBNB/SKY</a></li> -->
            <li><i class="bx bx-chevron-right"></i> <a href="#hero" class="scrollto">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about" class="scrollto">Metaverso</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#testimonials" class="scrollto">Juegos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#team" class="scrollto">Teams</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://skylightgame.gitbook.io/es/extras/roadmap"
                target="_blank">Roadmap</a></li>

          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Other links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://skylightsocial.net/"
                target="_blank">SkyLightSocial</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://skylightexch.com/" target="_blank">SkyLight Exchange</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a href="assets-landing/files/Audit_skylightgames.pdf"
                target="_blank">Reporte de Auditoría</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://app.uncx.network/amm/pancake-v2/pair/0xBf22a65BeAe236Dc6a7e833a2Bb7f6eD2B702791"
                target="_blank">Locked Liquidity BUSD</a></li>
            <li><i class="bx bx-chevron-right"></i> <a
                href="https://app.uncx.network/amm/pancake-v2/pair/0x0b07F85948D02300F816936abcdbe6ccAa7D5CF2"
                target="_blank">Locked Liquidity BNB</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#" target="_blank"></a></li> -->
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestras Redes Sociales</h4>
          <p>Les invitamos a que nos sigan</p>
          <div class="social-links mt-3">
            <a href="https://t.me/+i9M3_bt1jLVmOGEx" class="telegram" target="_blank"><i class="bx bxl-telegram"></i></a>
            <a href="https://twitter.com/GameSkylight/" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="mailto:Skylight8906@gmail.com" class="google-mail" target="_blank"><i class="bx bxl-google"></i></a>
            <a href="https://www.youtube.com/channel/UChaqlmt3pD_aZYyyzMkRYmA" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.instagram.com/skylightgame/?next=%2F" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Sky Light Game</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed for <a href="https://www.skylightgame.com/">SkyLightGame</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://t.me/+i9M3_bt1jLVmOGEx" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
      <a href="https://twitter.com/DekiruShytoshi/" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
      <a href="mailto:shytoshid@gmail.com" class="google-mail"><i class="bx bxl-google" target="_blank"></i></a>
      <a href="https://www.youtube.com/channel/UChaqlmt3pD_aZYyyzMkRYmA" class="youtube"><i class="bx bxl-youtube"
          target="_blank"></i></a>
      <a href="https://www.instagram.com/skylightgame/?next=%2F" class="instagram" target="_blank"><i
          class="bx bxl-instagram"></i></a>
    </div>
  </div> -->

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Sky Light Game</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed for <a href="https://www.skylightgame.com/">SkyLightGame</a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>