<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container position-relative">
    <h1><span>Sky</span>Light</h1>
    <h2>Game</h2>
    <div class="col-6">
      <a href="https://pancakeswap.finance/swap?outputCurrency=0xfE9549bb13Bf62dB64860eDbcdBEbC094D78e3F5"
        class="btn btn-primary scrollto my-2" target="_blank">Comprar</a>
      <a href="https://skylightgame.gitbook.io/es/" class="btn btn-primary scrollto my-2" target="_blank">WhitePaper</a>
      <a href="https://skylightsocial.net/" class="btn btn-primary scrollto my-2" target="_blank">SkyLightSocial</a>
    </div>
    <div class="data-token">
      <!-- <div class="row">
        <div class="col-lg-2 col-md-4 col-6 ">
          <a href="https://app.uncx.network/amm/pancake-v2/pair/0x0b07F85948D02300F816936abcdbe6ccAa7D5CF2" target="_blank"><img src="assets-landing/img/logos/uncx.png" class="img-fluid" alt=""></a>
        </div>
      </div> -->
      <a href="https://app.uncx.network/amm/pancake-v2/pair/0x0b07F85948D02300F816936abcdbe6ccAa7D5CF2"
        target="_blank"><img src="assets-landing/img/logos/uncx_32x32.png" alt=""></a>
      <a href="https://app.uncx.network/amm/pancake-v2/pair/0xBf22a65BeAe236Dc6a7e833a2Bb7f6eD2B702791"
        target="_blank"><img src="assets-landing/img/logos/uncx_32x32.png" alt=""></a>
      <a href="resources/Audit_skylightgames.pdf" target="_blank"><img
          src="assets-landing/img/logos/segurity_32x32.png" alt=""></a>
      <h6>
        Contrato: <span><a href="#" id="copy-btn">0xfE95...e3F5</a></span>
        <a href="#"> <i class='bx bx-copy-alt'></i></a>
      </h6>
    </div>
  </div>
</section>
<!-- End Hero -->